/docs				export-ignore
/tests				export-ignore
/.gitattributes		export-ignore
/.github			export-ignore
/.gitignore			export-ignore
/default_env.tres	export-ignore
/icon.png			export-ignore
/icon.png.import	export-ignore
/LICENSE.md			export-ignore
/project.godot		export-ignore
/README.md			export-ignore